@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';

.body-container {
  background-image: url('../images/leaves.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  width: 100%
}

.card-container {
  transition: all 0.4s ease-in-out;
}
.slick-arrow {
  display: none !important;
}

p {
  margin-bottom: 0 !important;
}

.slider-controller {
  display: block;
  position: absolute;
  width: 100px !important;
    bottom: 250px;
    right: 300px;
    z-index: 1;
}

/* Customize Responsive Navbar */
.nav-link {
  color: #b1ffa4 !important;
}

.custom-mobileNav {
  display: none;
}

.navbar-toggler {
  margin-top: 15px;
}

.navbar-toggler-icon {
  background-image: url('../images/Icons/hamburger-icon.svg') !important;
}

@media screen and (max-width: 1192px) {
  .mobile-nav {
      display: none;
  }
.service-card {
  margin-top: 20px !important;
}
  
  .custom-mobileNav {
    display: block;
    position: absolute;
    top: 0;
    margin-top: 98px;
    height: 100vh;
    width: 100%;
    transition: left 0.4s ease-in-out;
    background-color: #fff;
    z-index: 1;
  }
.slider-controller {
  display: none;
}
}